.Navbar {
    height: 65px;
    background-color: darkslategray;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.NavbarTitle {
    font-weight: bolder;
    font-size: 32px;
}